.button-container {
    display: flex;
    justify-content: center;
    gap: 1vw; /* Responsive aralık */
    padding: 1% 3%; /* Arka planı biraz şeffaf yaparak haritayla uyumlu hale getirin */
    border-radius: 5px;
}

.hospital-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px; /* Sabit font büyüklüğü */
    padding: 10px 20px; /* Sabit padding değerleri */
    cursor: pointer;
    border-radius: 10px; /* Butonları yuvarlak köşeli yap */
    transition: background-color 0.5s; /* Buton rengini değiştirme geçişi */
    background-color: #ff5757; /* Kırmızı bir arka plan */
}

.pharmacies-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px; /* Sabit font büyüklüğü */
    padding: 10px 29px; /* Sabit padding değerleri */
    cursor: pointer;
    border-radius: 10px; /* Butonları yuvarlak köşeli yap */
    transition: background-color 0.5s; /* Buton rengini değiştirme geçişi */
    background-color: #ff5757; /* Yeşil bir arka plan */
}

.gathering-areas-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px; /* Sabit font büyüklüğü */
    padding: 10px 15px; /* Sabit padding değerleri */
    cursor: pointer;
    border-radius: 10px; /* Butonları yuvarlak köşeli yap */
    transition: background-color 0.5s; /* Buton rengini değiştirme geçişi */
    background-color: #ff5757; /* Mavi bir arka plan */
}

.map-button:hover {
    background-color: #922222; /* Hover durumunda buton rengini değiştirin */
}

.tooltip {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000; /* Butonların üzerinde kalmasını sağlar */
}
