.custom-form input[type=text],
.custom-form input[type=password],
.custom-form input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  color: #000; /* Metin rengi */
}
.signin_text {
  text-align: center;
  font-size: 28px;
}

.custom-form input[type=text]:focus,
.custom-form input[type=password]:focus,
.custom-form input[type=tel].focus {
  background-color: #ddd;
  outline: none;
}

.custom-form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.custom-form button {
  background-color: #FF5757;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.custom-form button:hover {
  opacity: 1;
}

.custom-form .cancelbtn {
  padding: 14px 20px;
  background-color: #000249;
  border-radius: 5px;
}

.custom-form .cancelbtn,
.custom-form .signupbtn {
  float: left;
  width: calc(50% - 5px);
  margin: 6px 2px;
  border-radius: 5px;
}


.custom-form .container {
  padding: 16px;
}

.custom-form .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.signin-close{
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 35px;
}

.signin-close:hover,
.signin-close:focus {
  color: black;
  
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (max-height: 991px) {
  .custom-form input[type=text],
  .custom-form input[type=password],
  .custom-form input[type=tel] {
    width: 90%;
  }

  .custom-form .cancelbtn,
  .custom-form .signupbtn {
    width: 100%;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) and (max-height: 991px) {
  .custom-form .cancelbtn,
  .custom-form .signupbtn {
    width: 45%;
  }
}

@media screen and (max-width: 768px) and (max-height: 991px) {
  .custom-form .container {
    max-width: 400px;
    margin: 0 auto;
  }
}
